{{> layout title="Your History"}}
{{> nav}}

	<div class="container">
	<h2 class="text-center">My History</h2>

		{{#each history}}
		<h3>Itinerary {{index}}</h3>
		<div class="thumbnail">
			<img class="img-responsive" src={{image}}>
			<br>
			<strong>Starting from: </strong>
			<p>{{start}}  <small>{{startAddress}}</small></p>
			<strong> Going to:</strong>
			<p>{{destination}} <small>{{destAddress}}</small></p>
			<img src="{{img}}" style="200px;height:200px"></img>
		</div>
		<br>
		{{/each}}

	</div>
{{> footer}}

