{{> nav}}

	<div class="container">
	<h2 class="text-center">My History</h2>
		{{#each history}}
		<div class="history">
			<h3>Itinerary {{index}}</h3>
			<strong>Starting from: </strong>
			<p>{{start}}  <small>{{startAddress}}</small></p>
			<strong> Going to:</strong>
			<p>{{destination}} <small>{{destAddress}}</small></p>
		</div>
		<br>
		{{/each}}
	</div>
{{> footer}}

