{{> layout title="Your Profile"}}
{{> nav back="true"}}

	<div class="container">
	<h2 class="text-center">Your Profile</h2>

		<h5>You had <span style="font-weight: bold;">12</span> WayArounds!</h5>
		<h5>Your most popular destination is: <span style="font-weight: bold;">Geisel Library</span>!</h5>
		<h5>We've selected <span style="font-weight: bold;">21</span> possible detours for you!</h5>

		<h3>Your Preferences</h3>
		<p>Based on your history, you prefer:</p>
		<ul>
			<li>Restaurant, Food, &amp; Drinks: 10 times</li>
			<li>Scenery: 8 times</li>
			<li>No Steep Hills: 8 times</li>
			<li>Shaded Areas Only: 5 times</li>
			<li>Moderate Volume: 5 times</li>
			<li>Moderate Congestion: 3 times</li>
			<li>Reliable Cell Service: 2 times</li>
		</ul>
		

		<h3>Your History</h3>
		{{#each history}}
		<h4>Itinerary {{index}}</h4>
		<div class="thumbnail">
			<img class="img-responsive" src="{{image}}">
			<br>
			<strong>Starting from: </strong>
			<p>{{start}}  <small>{{startAddress}}</small></p>
			<strong> Going to:</strong>
			<p>{{destination}} <small>{{destAddress}}</small></p>
			<p> You rated {{rating}} for this WayAround!</p>
		</div>
		<br>
		{{/each}}

	</div>
{{> footer}}

